li {
  font-family: sans-serif;
  font-size: 90px;
  text-align: center;
  color:lime;
  list-style: none;
}

p {
  font-style: oblique;
  font-family: serif;
  color: yellowgreen;
}

div {
  border: solid 1px yellow;
  padding: 4px;
  margin: 5px;
}

body {
  background-color: green;
  display: flex;
}